<html lang="en">

<head>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/blog/">
    <link href="https://getbootstrap.com/docs/4.5/examples/blog/blog.css" rel="stylesheet">


    <title>Dashboard - Blocky Blog</title>

</head>
<body>
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#">Blocky Blog</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
        </a>
        <a class="btn btn-sm btn-outline-secondary" >hi {{user.username}}</a>
        <a class="btn btn-sm btn-outline-secondary" href={%url 'logout'%}>logout</a>
      </div>
    </div>
  </header>
<h1> MY dashboard</h1>
<h2>My blogs</h2>
  <div class="container">
{% if blogs%}
<table>
<tr>
<td>Title</td>
<td>Created at</td>
<td>modified at</td>
<td>Edit</td>
<td>delete</td>
</tr>
{% for blog in blogs%}
<tr>
        <td> <a href={{ url 'viewBlog' blog.id }}>{{blog.title}}</a></td>
        <td>{{blog.createdAt}} </td>
        <td>{{blog.modifiedAt}} </td>
        <td><a href={{ url 'editBlog' blog.id }}>Edit</a></td>
        <td><a href={{ url 'deleteBlog' blog.id }}>Delete</a></td>
</tr>
{% endfor %}
</table>
{% else%}
<p> no availabe Blogs rightnow </p>
{%endif%}
<h2>my drafts</h2>
{% if drafts%}
<table>
<tr>
<td>Title</td>
<td>Created at</td>
<td>modified at</td>
<td>Edit</td>
<td>delete</td>
</tr>
{% for draft in drafts%}
<tr>
        <td>{{draft.title}}</td>
        <td>{{bdraft.createdAt}} </td>
        <td>{{draft.modifiedAt}} </td>
        <td><a href={{ url 'editBlog' draft.id }}>Edit</a></td>
        <td><a href={{ url 'deleteDraft' draft.id }}>Delete</a></td>
</tr>
{% endfor %}
</table>
{% else%}
<p> no availabe drafts rightnow </p>
{%endif%}
</body>
</html>