{% load static %}
<html lang="en">
<head>
  <title>Edit blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <script src="https://unpkg.com/turndown/dist/turndown.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://unpkg.com/turndown/dist/turndown.js"></script>
  <script src="{% static 'editPageScript.js' %}"></script>

</head>
<body>
<h1>Essay blocks</h1>
<div id ='title_div' class='title'>
<input type='text' id='title_input'>
<h2 id = 'title' display='none'><h2>
<button id ='title_done' onclick='titleDone()' class='btn btn-success'> done </button>
<button id ='title_edit' display='none' onclick='titleEdit()' class='btn btn-info'> edit </button>
<div id="blocks" class="container-fluid" style="margin: 10px;">
 

      <!-- Or you can comment out a large number of lines. -->



</div>
<button onclick="publishBlog()" class="btn btn-primary">Publish blog</button>
<button onclick="addBlock()" class="btn btn-primary" style="position: fixed;bottom: 10%;right: 100px;border-radius: 50%; ">+</button> 
<button onclick="addImage()" class="btn btn-primary" style="position: fixed;bottom: 15%;right: 100px;border-radius: 50%; ">[ ]</button> 
<button onclick="addTable()" class="btn btn-primary" style="position: fixed;bottom: 20%;right: 100px;border-radius: 50%; ">T</button> 
<button onclick="addChart()" class="btn btn-primary" style="position: fixed;bottom: 25%;right: 100px;border-radius: 50%; ">C</button> 




</body>
</html>